@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
  color: #999;
}
header {
  background-color: #6ab47b;
  color: white;
  border-bottom: 5px solid #599a68;
  padding: 0.2em 5em 0.2em 5em;
  float: left;
  width: 100%;
}

header .title h1 {
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  margin: 0.3em 0em;
}

header .title {
  float: left;
}

header nav {
  float: right;
  margin-top: 2em;
  margin-right: 6em;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125em;
  margin-right: 1.2em;
}
nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #32673f;
}

/* 
   Wrapper
*/
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  clear: both;
}
/*
    Footer
*/

footer{
  font-size: 0.7em;
  color: lightgray;
  text-align: center;
  padding-top: 50px;
  clear: both;
}

footer img{
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

/*
  Item
*/
section{
  width: 100%;
}
#gallery {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#gallery li {
  width: 45%;
  margin: 2.5%;
  float: left;
  list-style: none;
}

#gallery li img{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  display: block;
}

#gallery a{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
#gallery li p{
  background-color: #f5f5f5; 
  color: #bdc3c7;
  margin: 0px;
  padding: 1em 0.3em;
  display: block;
}

/*
  Content
*/

.col-6 {
  float: left;
  width: 45%;
  padding: 2.5%;
}

.contact-info{
  list-style: none;
  padding-left: 0px;
}

.contact-info li {
  margin: 0.7em 0em;
}
.contact-info a{
  text-decoration: none;
  color: #6ab47b;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}