@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

header {
  background-color: #6ab47b;
  color: white;
  border-bottom: 5px solid #599a68;
  padding: 0.2em 5em 0.2em 5em;
  float: left;
  width: 100%;
}

header .title h1 {
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  margin: 0.3em 0em;
}

header .title {
  float: left;
}

header nav {
  float: right;
  margin-top: 2em;
  margin-right: 6em;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125em;
  margin-right: 1.2em;
}
nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #32673f;
}